[push]
	default = upstream

[pull]
	rebase = true

[rebase]
	autosquash = true

[rerere]
	enabled = true

[color "status"]
	added = green bold
	changed = red bold
	untracked = blue bold

[color "diff"]
	whitespace = red reverse

[alias]
	st = status --short --branch
	ci = commit --verbose
	br = branch --sort=-committerdate
	fixup = "!git log -n 24 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[includeIf "gitdir:~/Source/Work/"]
	path = ~/Source/Work/.gitconfig

[includeIf "gitdir:~/Source/Personal/"]
	path = ~/Source/Personal/.gitconfig
